<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
             Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="USP.Service.ICaptchaService, USP" mapTo="USP.Service.Impl.CaptchaService, USP">
        <constructor>
          <param name="chars">
            <value value="0123456789" />
          </param>
          <param name="background">
            <value value="#eee" />
          </param>
          <param name="color">
            <value value="#205AA7" />
          </param>
          <param name="length">
            <value value="4" />
          </param>
        </constructor>
        <lifetime type="singleton"/>
      </register>
      <register type="USP.Dal.ISysAreaDal, USP" mapTo="USP.Dal.Impl.SysAreaDal, USP" />
      <register type="USP.Service.ISysAreaService, USP" mapTo="USP.Service.Impl.SysAreaService, USP" />
      <register type="USP.Bll.ISysAreaBll, USP" mapTo="USP.Bll.Impl.SysAreaBll, USP" />

      <register type="USP.Service.ISystemService, USP" mapTo="USP.Service.Impl.SystemService, USP" />
      <register type="USP.Bll.ISystemBll, USP" mapTo="USP.Bll.Impl.SystemBll, USP" />

      <register type="USP.Dal.ISysOperatorDal, USP" mapTo="USP.Dal.Impl.SysOperatorDal, USP" />
      <register type="USP.Service.ISysOperatorService, USP" mapTo="USP.Service.Impl.SysOperatorService, USP" />
      <register type="USP.Bll.ISysOperatorBll, USP" mapTo="USP.Bll.Impl.SysOperatorBll, USP" />

      <register type="USP.Dal.ISysMenuDal, USP" mapTo="USP.Dal.Impl.SysMenuDal, USP" />
      <register type="USP.Service.ISysMenuService, USP" mapTo="USP.Service.Impl.SysMenuService, USP" />

      <register type="USP.Dal.ISysPrivilegeDal, USP" mapTo="USP.Dal.Impl.SysPrivilegeDal, USP" />
      <register type="USP.Service.ISysPrivilegeService, USP" mapTo="USP.Service.Impl.SysPrivilegeService, USP" />

      <register type="USP.Dal.ISysRoleDal, USP" mapTo="USP.Dal.Impl.SysRoleDal, USP" />
      <register type="USP.Bll.ISysRoleBll, USP" mapTo="USP.Bll.Impl.SysRoleBll, USP" />
    </container>
  </unity>
</configuration>